/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
}

/* Login Page */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 16px;
  backdrop-filter: blur(12px);
  width: 320px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.login-card h2 {
  text-align: center;
  color: white;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #ccc;
  margin-bottom: 20px;
}

.login-card input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.login-card button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #4cafef;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: #2196f3;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
